upstream seller {
    server ${SELLER_API_HOST};
}

upstream buyer {
    server ${BUYER_API_HOST};
}

server {
    listen 80;

    root /usr/share/nginx/html;

    location /e-auction/api/v1/seller {
        proxy_pass http://seller;
    }

    location /e-auction/api/v1/buyer {
        proxy_pass http://buyer;
    }
}
